@{
    ViewData["Title"] = "Contattaci";
}
<h1>@ViewData["Title"]</h1>

<p>Team di Sviluppo del sito: 
    Daniele 
    Andrea 
    Luca 
    Fiore 
    Corina
    Andrea P 
    Rocco 
    Claudio 
    Chiara
</p>

<p>Link al Repository su GitHub:  https://github.com/danceoften/CloudMicroservices.git</p>

 

