@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">La lavagna di Kanban Online</h1>
    <p>la miglior lavagna di kanban sul mercato, è dinamica, veloce ed interattiva. Tutto ciò di cui necessiti per aumentare la produttività in azienda, seguendo le moderne tecniche AGILE</p>
</div>
